@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PlusJarkata";
    src: url("/assets/fonts/static/PlusJakartaSans-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "PlusJarkataMedium";
    src: url("/assets/fonts/static/PlusJakartaSans-Medium.ttf") format("ttf");
  }
}


.container:has(input:focus) p {
  background-color: hsl(61, 70%, 52%);
  border-color: hsl(61, 70%, 52%);
}

#container:has(input) #paragraph {
  background-color: hsl(4, 69%, 50%);
}